* {
    margin: 0;
    padding: 0;
}

/* .home {

} */

body {
    background: url(image/background1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

aside {
    width: 35%;
    background-color: black;
    top: 0;
    left: -150%;
    display: flex;
    height: 100%;
    color: white;
    position: absolute;
    transition: all 0.5s ease-in-out;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    z-index: 100;
}

.icon {
    padding: 5% 5%;
    /* display: none; */
}

 .icon i {
    color: rgb(255, 38, 0);
    cursor: pointer;
    z-index: 100;
}
.icon #menu-btn{
    font-size: 2.5rem;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 100;
    /* display: none; */
}

.options {
    margin: 30px 0;
    display: block;
    height: 60vh;
    overflow-y: scroll;
    width: 100%;
}

.options::-webkit-scrollbar {
    width: 10px;
}

.options::-webkit-scrollbar-track {
    background-color: rgb(41, 9, 9);
    border-radius: 10px;
}

.options::-webkit-scrollbar-thumb {
    background-color: rgb(255, 38, 0);
    border-radius: 10px;
}

.home button {
    width: 80%;
    border: white;
    color: black;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    align-items: center;
}

a {
    color: black;
    text-decoration: none;
}

.songitem {
    display: flex;
    background-color: white;
    color: black;
    align-items: center;
    margin: 20px 20px;
    flex-direction: row;
    border-radius: 6px;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
}
.songitem img {
    height: 50px;
    width: 50px;
position: relative;
}
.songitem .name {
    font-size: 0.9rem;
    font-weight: 600;
    height: 20px;
    overflow: hidden;
    width: 35%;
    text-align: start;
}

.songitem .songlistplay {
    padding: 0 10px;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.songitem .songlistplay .songTime{
    font-weight: bolder;
}
.songitem .songlistplay .songitemplay{
    margin: 0px 5%;
    font-size: 2rem;
    color: rgb(255, 38, 0);
}
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.container .box .songname h3 {
    padding: 5px 0;
    color: black;
}

.container .box .animation input{
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    color: rgb(255, 4, 4);
    caret-color: coral;
}

.container .box {
    padding: 2%;
    background-image: linear-gradient(#fff,rgb(243, 156, 56));
    color: wheat;
    border-radius: 12px;
    width: 400px;
    height: 500px;
    transition: all 0.5s ease-in-out;
    z-index: 20;
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
}

.container .box .songimg .mainimg {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    /* padding: 20px 0; */
    animation: rotate 5s linear paused;
    animation-iteration-count: infinite;

}

.container .box .songimg .gif {
    height: 200px;
    width: 200px;
    /* border-radius: 50%; */
    padding: 20px 0;
}

.container .box .animation .myprogressbar{
    color: rgb(255,38,0);
}
.playpause {
    display: flex;
    flex-direction: row;
    height: 100px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.playpause i {
    font-size: 2.5rem;
    color: rgb(255, 38, 0);
    padding: 10px 20px;
    cursor: pointer;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



@media (max-width:900px) {
    aside {
        width: 50%;
        left: -150%;
        position: absolute;
    }
    .icon #menu-btn{
        display: initial;
    }

    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        position: relative;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .container .box {
        /* width: 45%; */
        height: 60vh;
    }

    .container .box .songimg .mainimg {
        margin: 3%;
        position: relative;
        height: 280px;
        width: 280px;
        animation-play-state: paused;
    }

    /* .container .box .songimg .gif {
        height: 60px;
        width: 400px;
         border-radius: 50%; 
        padding: 0px;
    } */

}

@media (max-width:650px) {
    
aside{
    width: 60%;
}
.container .box .songimg .mainimg {
    height: 260px;
    width: 260px;
}
}
@media (max-width:550px){
    aside{
        width: 70%;
    }
    .container .box .songimg .mainimg {
        height: 240px;
        width: 240px;
    }
}
@media (max-width:450px){
    aside{
        width: 100%;
    }
    .container .box {
        width: 80%;
        height:60vh ;
    }
    .container .box .songimg .mainimg {
        height: 220px;
        width: 220px;
    }
}
@media (max-width:300px){
    aside{
        width: 100%;
    }
    .container .box {
        width: 85%;
        height:60vh ;

    }
    .container .box .songimg .mainimg {
        height: 200px;
        width: 200px;
    }
}